.loginContainer {
    padding-top: 100px;
    padding-right: 50px;
    padding-bottom: 0;
    padding-left: 50px;
}

.box {
    width: 200px;
    background-color: white;
    padding: 50px;
    margin: 0 auto;
    border: 1px solid #ccccccaa;
}